.navbar-section {
    border: 1px solid cyan;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    color: #777;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.nav-image-section {
    height: 32px;
    width: 32px;
    background-image: url('https://cdn.codingal.com/images/logos/logos-main/logo-with-text.svg');
    background-size: 120px;
}

.horizontal-section {
    width: 10px;
    height: 60px;
    border-left: 1px solid #CDCDCD;
    margin: 0 20px;
}

.timer-section {
    margin-left: auto;
    margin-right: 10px;
}